#overview {
  width: -webkit-fill-available;
}

#overview > h1 {
  margin: 30px 0 0 50px;
}

.overview-head {
  display: flex;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly;
  align-items: normal;
  margin: 50px 0;
}

.overview-head p {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.overview-bal,
.overview-inc,
.overview-exp {
  padding: 20px 15px;
  width: 25%;
  background-color: #ffffff;
  border-radius: 15px;
}

.overview-inc,
.overview-exp {
  box-shadow: 0 1px 5px #6c5aaf;
  -webkit-filter: drop-shadow(0 3px 10px #6c5aaf);
  filter: drop-shadow(0 3px 10px #6c5aaf);
}

.overview-bal {
  background-color: #6c5aaf;
  color: #ffffff;
}
